*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.flex{
    display:flex;
    flex-wrap:wrap;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    gap:50px;
}
.container{
    width:100vw;
    height:100vh;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 32%, rgba(6,14,61,1) 66%, rgba(15,19,117,1) 100%);
}


.text{
    color:aliceblue;
}
.text>h1{
    font-size:3.5rem;
}
.btn{
    padding:12px 30px;
    border:2px solid rgba(240,245,255,1);
    border-radius:20px;
    text-decoration:none;
    color:aliceblue;
    font-size:1.4rem;
    background: rgba(240,245,255,0.1);
    backdrop-filter:blur(2px)
}
